@keyframes triangle-odd {
	100% {
		filter: drop-shadow(4px 2px 1px rgba(0, 0, 0, 0.2)) drop-shadow(2px 4px 0px rgba(0, 0, 0, 0.14));
	}
}
@keyframes triangle-even {
	100% {
		filter: drop-shadow(4px -1px 1px rgba(0, 0, 0, 0.2));
	}
}
.vue-horizontal-timeline {
	position: relative;
	background: #e9e9e9;
	width: 100%;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
	.text-center {
		text-align: center;
	}
	.timeline {
		white-space: nowrap;
		overflow-x: auto;
		padding: 9em 0;
		height: inherit;
		.title {
			display: block;
			font-size: 1.4rem;
			font-weight: bold;
			margin-bottom: 8px;
		}
		.content {
			display: block;
			font-size: 1rem;
			margin-bottom: 4px;
			overflow: hidden;
		}
		ol {
			font-size: 0;
			width: 100%;
			padding: 100px 0 120px 0px;
			transition: all 0.5s;
			li {
				position: relative;
				display: inline-block;
				list-style-type: none;
				width: 180px;
				height: 3px;
				background: #03a9f4;
				&:last-child {
					width: 330px;
				}
				&.add-step:not(:last-child) {
					padding-right: 0px;
					margin-right: 0px;
					&::after {
						content: '';
						position: absolute;
						top: 50%;
						left: calc(100% - 140px);
						bottom: 0;
						width: 14px;
						height: 14px;
						transform: translateY(-50%);
						border-radius: 50%;
						background: #e91e63;
						border: 1px solid #fff;
					}
				}
				.time {
					position: absolute;
					left: 3em;
					padding: 10px;
					font-size: 1rem;
					white-space: normal;
					color: black;
					background: white;
					box-shadow: 3px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
					transition: 0.2s all ease-out;
					cursor: pointer;
					&:hover {
						box-shadow: 6.5px 8px 3px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
					}
					&::before {
						content: '';
						position: absolute;
						top: 100%;
						left: 0;
						width: 0;
						height: 0;
						border-style: solid;
					}
				}
				&:nth-child(even) {
					.time {
						top: calc(100% + 16px);
						border-top-right-radius: 3px;
						border-bottom-right-radius: 3px;
						border-bottom-left-radius: 3px;
						&::before {
							top: -8px;
							border-width: 8px 0 0 8px;
							border-color: transparent transparent transparent white;
							filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.2));
						}
						&:hover {
							&::before {
								animation: triangle-even 0.2s both;
							}
						}
					}
					.time.border-blue {
						filter: drop-shadow(-1px 0px 0 #03a9f4) drop-shadow(1px 1px 0 #03a9f4) drop-shadow(0px -1px 0 #03a9f4);
					}
				}
				&:nth-child(odd) {
					.time {
						top: -16px;
						transform: translateY(-100%);
						border-top-right-radius: 3px;
						border-bottom-right-radius: 3px;
						border-top-left-radius: 3px;
						&::before {
							top: 100%;
							border-width: 8px 8px 0 0;
							border-color: white transparent transparent transparent;
							filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2)) drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.14));
						}
						&:hover {
							&::before {
								animation: triangle-odd 0.2s both;
							}
						}
					}
					.time.border-blue {
						filter: drop-shadow(-1px 0px 0 #03a9f4) drop-shadow(1px 1px 0 #03a9f4) drop-shadow(0px -1px 0 #03a9f4);
					}
				}
			}
		}
	}
}
